@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora&display=swap');

body{
  font-family: 'roboto', sans-serif;
}
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  background-color: antiquewhite;
}
nav{
  background-color: #23527c;
  font-size: 2em;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #00fbff;
}


article {
  margin: 0;
  background-color: rgb(232, 194, 143);
}
.temple-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
.temple-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
#temples-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


header h1,
footer, 
main h1{
  background-color: rgb(58, 150, 208);
  text-align: center;
}
#menu_toggle {
    display: block;
    background-color: rgb(222, 64, 56);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 15px;
    width: 10%;
}


#nav_menu.show {
    display: flex;
}

#nav_menu {
    display: none;
    list-style: none;
    flex-direction: column;
    margin-top: 1rem;
}


@media (min-width: 600px) {

  main h1{
  grid-row: 1/3;
  background-color: red;

}
#nav_menu  {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
  #menu_toggle{
    display: none;
}

}
