:root{
    --tcolor: yellow;
    --bccolor: rgba(255, 255, 0, 0.919);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bccolor);
}

.hero {
  display: flex;
  justify-content: center;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.data, .weather{
    text-align: center;
    
}
header, footer{
    padding: 25px;
    background-color: red;
    text-align: center;
}
.data h2, .weather h2 {
    background-color: rgba(131, 238, 31, 0.95);
    padding: 15px;
    margin: 0;
    font-size: 1.8em;
}
