* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
}
.data, .wheather{
    background-color: yellow;
    width: 20%;
}
.data{
    position: absolute;
    left: 50px;
    top: 200px;
}
.wheather{
    position: absolute;
    right: 50px;
    top: 200px;
}
        .lp_city {
            position: relative;
            width: 50%;
            height: 600px;
            background-size: cover;
            background-position:relative}