@media (min-width: 800px) {
.data{
    position: absolute;
    left: 50px;
    top: 200px;
}
.weather{
    position: absolute;
    right: 50px;
    top: 400px;
}
.data, .weather{
    width: 20%;
    font-style: italic;
    font-size: 1.2rem;
    background-color: rgba(131, 238, 31, 0.95);
    box-shadow: 0 8px 8px rgba(250, 41, 41, 0.2);
}
.data h2, .weather h2 {
    padding: 15px;
    margin: 0;
    font-size: 1.8em;
}
}