@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora&display=swap');

body{
  font-family: 'roboto', sans-serif;
}
main {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 2rem auto;
  padding: 20px;
}
nav{
  
  background-color: #23527c;
  font-size: 2em;


}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #00fbff;
}


figure {
  margin: 0;
}
header h1,
footer, 
main h1{
  background-color: rgb(58, 150, 208);
  text-align: center;
}
#menu_toggle {
    display: block;
    background-color: rgb(56, 86, 222);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 15px;
    width: 10%;
}
.nav_menu {
    display: none;
    list-style: none;
    flex-direction: column;
    margin-top: 1rem;
}

.nav_menu.show {
    display: flex;
}

@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;

  }
  main h1{
  grid-column: 1;

}
}
